/* border: 2px solid black; */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: relative;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1000px;
}

.nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 24px;
    font-size: 0.75rem;
    border: 2px solid white;
    background-color: white;
}

.nav button:hover {
    border: 2px solid black;
}

.sub-menu {
    display: none;
}

.sub-menu.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 150px;
    height: auto;
    top: 24px;
    right: 0px;
    background-color: white;
    box-shadow: 0 0 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: repeat(5, 20%);
    grid-gap: 20px;
    max-width: 1500px;
    margin-right: 80px;
    height: 600px;
    padding: 20px;
    font-family: "Outfit", sans-serif;
}

/* main */
.current-weather {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/4;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
}

.current-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.current-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.current-temp {
    margin-top: 100px;
}

.current-temp> :nth-child(1) {
    font-size: 7rem;
    margin: 0;
    line-height: 90px;
}

.current-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start center;
    gap: 10px;
    width: 20%;
    height: 100%;
    font-size: 30px;
}

.data {
    display: flex;
    justify-content: space-between;
}

.data-extra {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
}

.location-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    padding: 10px;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 70px;
    color: white;
    text-overflow: ellipsis;
    border-radius: 10px 0 0 0;
    background-color: darkgray;
}

.location-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 2rem;
}

#city {
    max-width: 275px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#county {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.location> :nth-child(2) {
    width: 100%;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sunny {
  font-size: 300px;
  color: orange;
}

/* weather forecast */
.weather-forecast {
    display: grid;
    grid-column: 1/4;
    grid-row: 4/6;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
}

.forecast-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: auto;
    height: auto;
    padding: 0 15px;
    background-color: lightgray;
}

.toggle {
    display: flex;
    align-items: center;
    width: 75px;
    height: auto;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}

@keyframes toggle-right {
    0%{}
    100%{transform: translate(210%)}
}

.toggle-icon.right {
    animation: toggle-right 1s forwards;
}

@keyframes toggle-left {
    0%{}
    100%{transform: translate(0)}
}

.toggle-icon.left {
    transform: translate(210%);
    animation: toggle-left 1s forwards;
}

/* animation for daily toggle */
@keyframes daily {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.forecast-daily.active {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    height: auto;

    animation: daily 2s forwards;
}

.forecast-daily {
    display: none;
}

.forecast-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    gap: 30px;
}

.forecast-daily hr {
    margin: 0;
    height: 170px;
}

/* animation for hourly toggle */
@keyframes hourly {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.forecast-hourly.active {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    height: auto;

    animation: hourly 2s forwards;
}

.forecast-hourly {
    display: none;
}

.day {
    text-align: center;
    width: 80px;
    height: auto;
    border-radius: 10px;
    background-color: lightgrey;
}

.humid {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* news*/
.news {
    display: grid;
    grid-column: 4/6;
    grid-row: 1/6;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.news-header {
    align-self: flex-start;
}

.news-header h1 {
    margin-top: 0;
}

.news-image {
    width: 550px;
    height: auto;
}

.news-image img {
    width: 100%;
    height: auto;
}

.news-data {
    width: 550px;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-content button {
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px 0;
}